# --- For-Bot-Working --------- #
pyrofork
TgCrypto
pyromod
# --- For-Database ------------ #
pymongo
motor
umongo
dnspython
marshmallow
# --- For-Web-Response ------- #
pytz
requests
bs4
shortzy
aiohttp
aiofiles
asyncio
